*
{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
#root
{
  width: 100vw;
  height: 100vh;
}
body
{
  background: rgb(65, 65, 65);
  overflow-x: hidden;
}
h1
{
  color: white;
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;
  justify-content: center;
}
#to-do-container-frame
{
  border: 5px white solid;
  width: 60%;
  margin: 0 auto;
  margin-top: 2%;
}
#input-container
{
  display: flex;
  justify-content: center;
  height: 5vh;
  margin-bottom: 3%;
}
#input-container input
{
  border-radius: 2px;
  color: black;
  font-size: 30px;
  width: 30%;
}
#input-container button
{
  font-weight: bold;
  width: 7%;
  border-radius: 2px;
  background: green;
}



#li-container-flex
{
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  height: 8vh;
}
#li-container-flex #li-container
{
  background: rgb(255, 255, 255);
  width: 80%;
  list-style-type: none;
  font-size: 25px;
  height: 100%;
  border-radius: 10px;
}
#li-container-flex #li-container li
{
  width:68%;
  background: rgb(255, 255, 255);
  height: 80%;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
  display: inline-block;
  margin-left: 1%;

}
ul #buttons-container
{
  width: 30%;
  float: right;
  height: 80%;
  border-radius: 5px;
  position: relative;
  top: 50%;
  transform: translate(0%,-50%);
}
button
{
  height: 100%;
  border-radius: 5px;
  font-size: 25px;
  cursor: pointer;
}
.blue
{
  background: rgb(55, 193, 252);
  width: 28%;
  height: 100%;
  border-radius: 5px;
  font-size: 25px;
  margin-right: 3%;
}
#red
{
  background: red;
  width: 35%;
  height: 100%;
  border-radius: 5px;
  font-size: 25px;
  margin-right: 3%;
}