*
{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
#root {
  background: gray;
  width: 100vw;
  height: 100vh;
}
body
{
  background: gray;
}
.box
{
  border: solid 5px white;
  height: 70%;
  width: 60%;
  margin: 5%;
}

h1 {
  color: white;
  font-size: 150%;
  display: inline-block;
}
