*
{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
#root {
  background: gray;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body
{
  background: gray;
}
.box
{
  border: solid 5px white;
  height: 70%;
  width: 60%;
  margin: 5%;
}

h1 {
  color: white;
  font-size: 150%;
  display: inline-block;
}
button,input
{
  width: 10vw;
  height: 4vh;
  border-radius: 10px;
  border: solid black 3px;
}
input
{
  margin-left: 30px;
}