.ProgressBarContainer
{
    /* width: 100%; */
    /* height: 15vh; */
    /* background: purple; */
    overflow: hidden;
    /* background: rgba(255, 255, 255, 0.734); */
    margin-left: 1%;
}
.flexComponent
{
    display: flex;
    float: left;
    align-items: center;
    /* background: blue; */
}
.filledBall,.emptyBall,.filledLine,.emptyLine,.halfLine
{
    --color: #8edc54;
    --color2 : #ffffff9d;
    float: left;
    margin-right: 2%;
}
.filledBall,.emptyBall
{
    border-radius: 5px;
    margin: 0 4%;
    border: solid 3px;
    border-color: var(--color2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50%;
}
.filledBall
{
    background: var(--color);
    border-color: var(--color);
}
.emptyBall
{
    background: rgba(255, 255, 255, 0.532);
}
.filledLine,.emptyLine,.halfLine
{
    border-radius: 5px;
}
.filledLine
{
    background: var(--color);
}
.emptyLine
{
    background: var(--color2);
}
.halfLine
{
    background: linear-gradient(to right, var(--color) 50%, var(--color2) 50%);
}