.ProgressBarContainer
{
    display: inline-block;
    /* background: rgba(255, 255, 255, 0.734); */
    margin-top: 4%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor:default;
    --color2 : #ffffff9d;
    color: var(--color2);
    font-weight: bold;
}
.progressArrowContainer
{
    /* background: red; */
    display: inline-block;
}
.progressArrow
{
    display: inline-block;
    font-size: 25px;
    float: left;
}
.flexComponent
{
    display: flex;
    float: left;
    align-items: center;
}
.filledBall,.emptyBall,.filledLine,.emptyLine,.halfLine
{
    --color: #8edc54;
    --color2 : #ffffff9d;
    float: left;
    margin-right: 2%;
}
.filledBall,.emptyBall
{
    border-radius: 5px;
    margin: 0 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.filledBall
{
    background: var(--color);
}
.emptyBall
{
    background: rgba(255, 255, 255, 0.532);
}
.filledLine,.emptyLine,.halfLine
{
    border-radius: 5px;
}
.filledLine
{
    background: var(--color);
}
.emptyLine
{
    background: var(--color2);
}
.halfLine
{
    background: linear-gradient(to right, var(--color) 50%, var(--color2) 50%);
}
.ballFlexComponent
{
    display: flex;
    align-items: center;
    float: left;
    flex-wrap: wrap;
    justify-content: center;
    
    font-size: 15px;
    margin-top: 10%;
}
.all
{
    display: flex;
    justify-content: center;
    align-items: center;
}