/*I PADY !!! PREFIXY!*/
*
{
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}
body
{
/*    overflow-x: hidden;*/
}
/*inline block*/
.nadtlo1
{
    height: 100vh;
    width:100vw;
    background: transparent;/*zeby sie nie jebać z tlem xD*/
}
nav
{
    height: 50px;
    background-color: transparent;
    width: 100vw;
    position: fixed;
    top: 0px;
    transition: all 1s ease;
    z-index: 3;
}
nav li
{
    display: inline-block;
    float: right;
    width: 20%;
    line-height: 50px;
    text-align: center;
}

a
{
    font-family: 'Pacifico', cursive;
    color: white;
    font-size: 20px;
    transition:color 1s ease;
    text-decoration: none;
}
a:hover
{
    color: aqua;
    cursor: pointer;
}
#strona1
{
    position: absolute;
    z-index: ;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(144,0,255,1) 30%, rgba(225,0,255,1) 82%);
    height: 100vh;
    width: 100vw;
    
}
#strona1 h1
{
    font-family: 'Pacifico', cursive;
    color:dodgerblue;
    position: absolute;
    z-index: 3;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    cursor: pointer;
    
    
}

#gwiazdy/*meeh ale niech zostaną...*/
{
    background-image: url("searchpng.com-white-stars-background-png-image-free-download-2%20(1).png");
    height: 100vh;
    position: absolute;
    top: 0px;
    width: 100vw;
    z-index: 1;
}
#slonce
{
    position: absolute;
    z-index: 2;
    height: 40vh;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    transition: height 0.5s ease;
}
#strona1 h1:hover+#slonce
{
    height: 50vh;
}
#strona1 h1:hover
{
    color:darkviolet;
}
#slonce:hover
{
    height: 50vh;
}
#rakieta
{
    height: 40vh;
    position: absolute;
    top: 110vh;/*80 start         0 meta */
    left: -60vw;/*-20 start         120 meta*/
    z-index: 4;
    transform: rotate(30deg);
}
.lec
{
    animation: lece 3s ease normal;
}
#strona2
{
/*    background: linear-gradient(0deg, rgba(225,0,255,1) 0%, rgba(144,0,255,1) 46%, rgba(2,0,36,1) 90%);*/
/*    background: linear-gradient(180deg, rgba(0,0,0,1) 10%, rgba(144,0,255,1) 40%, rgba(169,58,255,1) 90%);*/
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,0,255,1) 19%, rgba(159,39,252,1) 40%, rgba(12,0,52,1) 80%);
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 100vw;
/*    height: 400vh;                                                                         WYWAL TO !!!!!!!!!!!!111!!!!!!!!!!!!!*/
/*    background-attachment: fixed;*/
}

#kometa1
{
    position: absolute;
    transform: rotate(290deg);
    height: 25vh;
    top: 160vh;
    left: -40vw;
    margin-top: 0vh;
}
@media(orientation: portrait)
{
    .spadaj
    {
        animation: spadajportrait 1.5s linear normal;
    }
}
@media(orientation: landscape)
{
    .spadaj
    {
        animation: spadaj 1.5s linear normal;
    }
}

.artykul1,.artykul2,.artykul3
{
    display: inline-block;
    margin-top: 100vh;
    margin-left: 10%;
    width: 70vw;
}
.artykul2
{
    margin-left: 20%;
    margin-top: 10vh;
}
.artykul3
{
    width: 95vw;
    margin-top: 10vh;
    margin-left: 0;
}
#planeta1,#planeta2,#planeta3
{
    display: inline-block;
    height: 40vh;
    float: left;
    margin-left: 5vw;
}
#planeta2
{
    float: right;
}
#planeta3
{
    transform: rotate(180deg);
}
@media (orientation: portrait)
{
    .artykul3
    {
        width: 100vw;
        margin-bottom: 100vh;
    }
    .artykul3 p
    {
        margin-right: 25%;
        font-size: 130%;
    }
    #planeta3
    {
        display: block;
        height: 20vh;
        margin-left: 0px;
    }
}

p
{
    display: inline-block;
    font-family: 'Caveat', cursive;
    height: 40vh;
    font-size: 200%;
    color: white;
    margin-top: 5vh;
}
.artykul3 p
{
    float: right;
    height: 40vh;
    width: 40vw;
    margin-bottom: 0vh;
}
#moonsurface
{
    
    position: relative;
    left: 0;
    z-index: 5;
    bottom: -1vh;
    width: 100vw;
    filter: blur(0.5px);
}
#flaga1
{
    position: absolute;
    z-index: 6;
    bottom: 3vh;
    left: 30vw;
}
#flaga1:hover
{
    cursor: pointer;
}
#satelita
{
    display: inline-block;
    opacity: 0;
    position: relative;
    z-index: 5;
    bottom: 50vh;
    left: 70vw;
    height: 20vh;
    transform: rotate(160deg);
}
    #flaga1
    {
        position: relative;
    }
    #moonsurface
    {
        bottom: -27vh;
    }
@media(orientation: landscape) and (min-width: 1200px)
{

    #satelita
    {
        animation: orbituj 60s linear infinite normal;
    }

}


@keyframes orbituj
{
    0%
    {
    opacity: 0;
    bottom: 50vh;
    left: 70vw;
    transform: rotate(160deg);
    }
    5%
    {
        opacity: 1;
        transform: rotate(155deg);
        left: 63vw;
    }
    10%
    {
        
        transform: rotate(150deg);
        left: 56vw;
    }
    15%
    {
        
        transform: rotate(148deg);
        left: 50vw;
    }
    20%
    {
        
        transform: rotate(145deg);
        left: 44vw;
    }
    25%
    {
        
        transform: rotate(140deg);
        left: 38vw;
    }
    30%
    {
        
        transform: rotate(135deg);
        left: 30vw;
    }
    35%
    {
        
        transform: rotate(130deg);
        left: 24vw;
    }
    40%
    {
        left: 18vw;
        transform: rotate(128deg);
    }
    45%
    {
        transform: rotate(123deg);
        left: 10vw;  
    }
    55%
    {
        bottom: 50vh;
        transform: rotate(120deg);
        left: 2vw;
    }
    60%
    {
        opacity: 1;
       bottom: 45vh;
        transform: rotate(110deg);
        left: -6vw;       
    }
    65%
    {
        opacity: 0.5;
        bottom: 40vh;
        transform: rotate(100deg);
        left: -12vw;   
    }
    65.001%
    {
        bottom: 35vh;
        opacity: 0;
        transform: rotate(100deg);
        left: -18vw;
    }
    99.99%
    {
        bottom: 30vh;
        opacity:-20;
        transform: rotate(100deg);
    }
}
@media(orientation: landscape) and (max-width: 1200px)
{
    
    #moonsurface
    {
        bottom: -60vh;
    }

    .artykul3
    {
        margin-bottom: 100vh;
    }
    #satelita
    {
        left: 52vw;
        animation: orbitujmaly 60s linear infinite normal;
    }
}
@keyframes orbitujmaly
{
    0%
    {
    opacity: 0;
    bottom: 50vh;
    left: 52vw;
    transform: rotate(160deg);
    }
    5%
    {
        opacity: 1;
        transform: rotate(155deg);
        left: 45vw;
    }
    10%
    {
        
        transform: rotate(150deg);
        left: 40vw;
    }
    15%
    {
        
        transform: rotate(148deg);
        left: 35vw;
    }
    20%
    {
        
        transform: rotate(145deg);
        left: 30vw;
    }
    25%
    {
        
        transform: rotate(140deg);
        left: 25vw;
    }
    30%
    {
        
        transform: rotate(135deg);
        left: 20vw;
    }
    35%
    {
        
        transform: rotate(130deg);
        left: 15vw;
    }
    40%
    {
        left: 10vw;
        transform: rotate(128deg);
    }
    45%
    {
        transform: rotate(123deg);
        left: 5vw;  
    }
    55%
    {
        bottom: 50vh;
        transform: rotate(120deg);
        left: -10vw;
    }
    60%
    {
        opacity: 1;
       bottom: 45vh;
        transform: rotate(110deg);
        left: -15vw;       
    }
    65%
    {
        opacity: 0.5;
        bottom: 40vh;
        transform: rotate(100deg);
        left: -20vw;   
    }
    65.001%
    {
        opacity: 0;
        bottom: 35vh;
        transform: rotate(100deg);
        left: -25vw;
    }
    99.99%
    {
        bottom: 30vh;
        opacity: 0;
        transform: rotate(100deg);
    }
}
@media(orientation: portrait)
{
    #satelita
    {
        opacity: 1;
        height: 24vh;
        left: 20vw;
        bottom: 40vh;
    }
        #flaga1
    {
        height: 15vh;
    }
}

@keyframes lece
{
    0%
    {
        top: 110vh;
        left: -60vw;
    }
    97%
    {
        top: -40vh;
        left: 90vw;
    }
    98%
    {
        opacity: 0;
        top: -40vh;
        left: 90vw;
    }
    98.00001%
    {
        top: 110vh;
        left: -60vw; 
    }
}
@keyframes spadaj
{
    0%
    {
        top: 160vh;
        left: -40vw;
    }
    99%
    {
        opacity: 1;
        top: 260vh;
        left: 90vw;       
    }
    100%
    {
        opacity: 0;
    }
}
@keyframes spadajportrait
{
    0%
    {
        opacity: 1;
        top: 160vh;
        left: -40vw;
    }
    99%
    {
        opacity: 0.1;
        top: 260vh;
        left: 70vw;
    }
    100%
    {
        opacity: 0;
    }
}