*
{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body
{
  background: gray;
}
.accordion-list-box
{
  width: 36%;
  border: solid white 3px;
  margin: 10px;
}
.accordion-list-box .header
{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.accordion-list-box .header h1
{
  width: 66%;
  float: left;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.accordion-list-box button
{
  cursor: pointer;
  font-size: 20px;
  
  border-radius: 5px;
  width: 30%;
}
.accordion-list-box button:hover
{
  background: rgb(108, 253, 149);
  transition: ease 0.5s;
}

.accordion-list-box ul li
{
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 1%;
  background: rgba(168, 237, 146, 0.625);
  border-radius: 5px;
  width: 100%;
  /* text-decoration: none; */
}
.accordion-list-box ul li h2
{
  font-size: 20px;
  background: rgba(109, 238, 66, 0.625);
}