*
{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root 
{
   width: 100vw;
   height: 100vh;
}

body 
{
  background: rgb(30,9,52);
  background-image: url('public/polyBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  /* width: 100vw;
  height: 100vh; */
}