*
{
  margin: 0;
  padding: 0;
  border: 0;
}

:root 
{
   width: 100vw;
   height: 100vh;
}
html, body
{
  overflow-x: hidden;
}
body 
{
  background: rgb(30,9,52);
  background-image: url('/polyBackground.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}