.accordionListBox
{
  width: 90%;
  border: solid white 3px;
}
.accordionListBox .header
{
  display: flex;
  flex-wrap: wrap;
  justify-content: right;  
}
.accordionListBox .header button
{
  float: right;
  margin: 10px;
}
.accordionListBox button
{
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
  width: 30%;
 
}
.accordionListBox button:hover
{
  background: rgb(108, 253, 149);
  transition: ease 0.5s;
}
.accordionListBox ul
{
  list-style-type: none;
}
.accordionListBox ul li
{
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 1%;
  background: rgba(168, 237, 146, 0.625);
  border-radius: 5px;
  width: 100%;
}
.accordionListBox ul li h2
{
  font-size: 20px;
  background: rgba(109, 238, 66, 0.625);
}