*{
    padding: 0px;
    margin: 0px;
    border: 0px;
/*
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
*/
}
body
{
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: darkgreen;
    
}
#gameboard
{
    width: 650px;
    height: 650px;
    border: solid 10px white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.tile
{
    height: 25%;
    width: 20%;
    float: left;
    background-size: cover;
    cursor: pointer;
}
.tile:hover
{
    background-image: none;
    transition: 0.5s ease;
}
h1
{
    color: white;
    font-size: 60px;
    position: relative;
    top: 50%;
    left: 75%;
}
