.tierListContainer
{
    width: 80vw;
    min-height: 94vh;
    display: inline-block;
    background: black;
}
.dataContainer
{
    min-height: 20vh;
    /* height: calc(var(--tierListComponentHeight) - 60vh); between - and value must be a SPACE! */
    background: red;
}
.tier
{
    display: inline-block;
    /* margin-bottom: 2%; */
    /* text-align: center; */
    border: solid black 2px;
    /* height: 20vh; */
}
.flexComponent
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
    height: 100%;
    overflow: hidden;
}
h1
{
    width: 99%;
    word-wrap: break-word;
}
.dataOfTier
{
    display: inline-block;
    width: 95%;
    height: 100%;
    background: gray;
    float: right;
}

.img
{
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}