*
{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.tierListContainer
{
    width: 80vw;
    /* min-height: 94vh; */
    display: inline-block;
    background: black;
    border: solid 4px black;
}
.dataContainer
{
    min-height: 20vh;
    background: gray;
    /* height: calc(var(--tierListComponentHeight) - 60vh); between - and value must be a SPACE! */
}
.tier
{
    display: inline-block;
    border-bottom: solid black 2px;
    width: 100%;
    background: gray;
}
.flexComponent
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    float: left;
    overflow: hidden;
    width: 50%;
    border-right: solid 4px black;
    /* background: blue;; */
}
h1
{
    width: 100%;
    word-wrap: break-word;
}
.dataOfTier
{
    display: inline-block;
    width: 90%;
    height: 100%;
    background: rgb(170, 63, 63);
    float: right;
}

.img
{
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
}