*
{
  margin:0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body
{
  background: gray;
}
#car-form-frame,#list-of-food-frame,#list-of-objects-frame
{
  border: solid 2px black;
  margin-bottom: 10px;
}
