.starRatingContainer
{
    display: flex;
    font-size: 0.9vw;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 13vw;
}
.starsContainer
{
    display: inline-block;
}
.singleStar
{
    font-size: 2.35vw;
    float: left;
    cursor: pointer;
}